<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="header :: header"></header>
<div id="main">
    <div class="container">
        <div class="post detail">
            <div class="votebar">
                <button  th:if="${news.getLikeCount()}>0" class="click-like up pressed" th:attr="data-id=${news.getId()}" title="赞同"><i class="vote-arrow"></i><span class="count"   th:text="${news.getLikeCount()}">100</span></button>
                <button  th:unless="${news.getLikeCount()}>0" class="click-like up" th:attr="data-id=${news.getId()}" title="赞同"><i class="vote-arrow"></i><span class="count" th:text="${news.getLikeCount()}">100</span></button>
                <button th:if="${news.getLikeCount()}<0" class="click-dislike down pressed" th:attr="data-id=${news.getId()}" title="反对"><i class="vote-arrow"></i></button>
                <button th:unless="${news.getLikeCount()}<0" class="click-dislike down" th:attr="data-id=${news.getId()}" title="反对"><i class="vote-arrow"></i></button>
            </div>
            <div class="content">
                <div class="content-img">
                    <img  class="content-img" th:src="${news.getImage()}" alt="">
                </div>
                <div class="content-main">
                    <h3 class="title">
                        <a target="_blank" rel="external nofollow" th:href="${news.getLink()}" th:text="${news.getTitle()}"></a>
                    </h3>
                    <div class="meta">

                        <span>
                            <i class="fa icon-comment"></i> <div th:text="${news.getCommentCount()}"></div>
                              </span>
                    </div>
                </div>
            </div>
            <div class="user-info">
                <div class="user-avatar">
                    <a th:href="'/user/'+${owner.id}"><img width="32" class="img-circle" th:src="${owner.getHeadUrl()}"></a>
                </div>
            </div>

            <div class="subject-name">来自 <a th:href="'/user/'+${owner.id}"></a></div>
        </div>



        <div class="post-comment-form">

            <span th:text="'评论('+${news.commentCount}+')'">评论</span>
            <form th:if="${user}" method="post" action="/addComment">
                <input name="newsId" type="hidden" th:value="${news.getId()}">

                <div class="form-group text required comment_content">
                    <label class="text required sr-only">
                        <abbr title="required">*</abbr> 评论</label>
                    <textarea rows="5" class="text required comment-content form-control" name="content" id="content"></textarea>
                </div>
                <div class="text-right">
                    <input type="submit" name="commit" value="提 交" class="btn btn-default btn-info">
                </div>
            </form>
            <div th:unless="${user}" class="login-actions">
                <a class="btn btn-success" href="/?pop=1">登录后评论</a>
            </div>
        </div>

        <div id="comments" class="comments" >
            <div class="media" th:each="commentvo,commentstart : ${comments}" >
                <div th:with="comment=${commentvo.get('comment')},user=${commentvo.get('user')}">
                <a class="media-left" th:href="'/user/'+${user.getHeadUrl()}">
                    <img th:src="${user.getHeadUrl()}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <small class="date" th:text="${#dates.format(comment.getCreatedDate(),'yyyy-MM-dd HH:mm:ss')}" >
                        </small>
                    </h4>
                    <div th:text="${comment.getContent()}">评论</div>
                </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $(function(){
            $(document).on('WeixinJSBridgeReady', function() {

                $('.weixin-qrcode-dropdown').show();

                var options = {
                    "img_url": "",
                    "link": "http://nowcoder.com/j/wt2rwy",
                    "desc": "",
                    "title": "读《Web 全栈工程师的自我修养》"
                };
                WeixinJSBridge.on('menu:share:appmessage', function (argv){
                    WeixinJSBridge.invoke('sendAppMessage', options, function (res) {
                        // _report('send_msg', res.err_msg)
                    });
                });
                WeixinJSBridge.on('menu:share:timeline', function (argv) {
                    WeixinJSBridge.invoke('shareTimeline', options, function (res) {
                    });
                });
            });
        })
    </script>
    <script type="text/javascript" src="/scripts/main/site/detail.js"></script>
</div>
</body>
<footer th:replace="footer :: footer"></footer>
</html>