<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>首页</title>
<body class="welcome_index">
<header th:replace="header :: header"></header>
<div id="main">
    <div class="container" id="daily">
        <div class="jscroll-inner">
            <div class="daily">
            </div>
            <h3 class="date">
                <i class="fa icon-calendar"></i>
                <span>头条资讯 &nbsp;</span>
            </h3>
            <div th:each=" vo,vostart: ${vos}">
                <div class="posts">
                    <div class="post"  th:with="news=${vo.get('news')}">
                        <div class="votebar">
                            <div th:if="${vo.get('like')}>0">
                                <button class="click-like up pressed" th:attr="data-id=${news.getId()}" title="赞同"><i class="vote-arrow"></i><span class="count" th:text="${news.getId()}">100</span></button>
                            </div>
                            <div th:unless="${vo.get('like')}>0">
                                <button class="click-like up" th:attr="data-id=${news.getId()}" title="赞同"><i class="vote-arrow"></i><span class="count" th:text="${news.getLikeCount()}">100</span></button>
                            </div>
                            <div th:if="${vo.get('like')}<0">
                                <button class="click-dislike down pressed" th:attr="data-id=${news.getId()}" title="反对"><i class="vote-arrow"></i></button>
                            </div>
                            <div th:unless="${vo.get('like')}<0">
                                <button class="click-dislike down" th:attr="data-id=${news.getId()}" title="反对"><i class="vote-arrow"></i></button>
                            </div>
                        </div>
                        <div class="content">
                            <div >
                                <img class="content-img" th:src="${vo.get('news').getImage()}" alt="">
                            </div>
                            <div class="content-main">
                                <h3 class="title">
                                    <a target="_blank" rel="external nofollow" th:href="'/news/'+${news.getId()}" th:text="${news.getTitle()}"></a>
                                </h3>
                                <div class="meta">
                                    <a th:href="${news.getLink()}">原文</a>
                                    <span>
                                    <i class="fa icon-comment" th:text=" ${news.getCommentCount()}"></i>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="user-avatar">
                                <a th:href="'/user/'+${vo.get('user').getId()}"><img width="32" class="img-circle" th:src="${vo.get('user').getHeadUrl()}"></a>
                            </div>
                        </div>

                        <div class="subject-name">来自 <a href="'/user/'+${vo.user.id}/" th:text="${vo.get('user').getName()}"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<footer th:replace="footer :: footer"></footer>

<script>
    window.loginpop =[[${pop}]]
</script>
<script type="text/javascript" src="/scripts/main/site/home.js"></script>
</html>